@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: "Roboto Condensed", sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.instructions{
  
position: absolute;
display: flex;
    height: 80vh;
    width: 14vw;  
    border: 1px solid white;
    border-radius: 2vh;
    font-size: 1vw; 
    padding: 1vh;
  justify-content: center;
  left:2vh;
  color: white;
}

.instructions:hover{

  background-color: #c06c84;
  transition: 0.5s;
  
    }
p{
   font-size: 5vh;
}
li{
    font-size: 3vh;
}


.drum-container {
    display: flex;
    text-align: center;
 
    width: 100vw; 
    height: 100vh; 
}




.kit {
    position: absolute;
    background-color: transparent;
  border: none;
    font-size: 1.5vw;
    border-radius: 50%;
    
}

.box{
    
    margin: auto;
    border-radius: 20vh;
    border: 1px solid white;
    height: 96vh;
    width: 110vh; 
    }
.box:hover{
    background-color: #c06c84;
  transition: 0.5s;
}


.kit.snare {
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 12vw;
    width: 12vw;
    background-image: url(./assets/drum.png);
    background-position: center;
    background-size: cover;
}

.kit.kick1 {
    top: 70vh;
    left: 35vw;
    height: 12vw;
    width: 12vw;
    background-image: url(./assets/drum.png);
    background-position: center;
    background-size: cover;
}

.kit.kick2 {
    top: 70vh;
    right: 35vw;
    height: 12vw;
    width: 12vw;
    background-image: url(./assets/drum.png);
    background-position: center;
    background-size: cover;
}

.kit.crash1 {
    top: 15vh;
    left: 25vw;
    height: 11vw;
    width: 11vw;
    background-image: url(./assets/cymbals.png);
    background-position: center;
    background-size: cover;
}

.kit.crash2 {
    top: 15vh;
    right: 25vw;
    height: 11vw;
    width: 11vw;
    background-image: url(./assets/cymbals.png);
    background-position: center;
    background-size: cover;
}

.kit.mid-tom {
    top: 20vh;
    left: 50vw;
    transform: translateX(-50%);
    height: 9vw;
    width: 9vw;
    background-image: url(./assets/drum.png);
    background-position: center;
    background-size: cover;
}

.kit.hi-tom {
    top: 32vh;
    left: 36vw;
    height: 9vw;
    width: 9vw;
    background-image: url(./assets/drum.png);
    background-position: center;
    background-size: cover;
}

.kit.low-tom {
    top: 32vh;
    right: 36vw;
    height: 9vw;
    width: 9vw;
    background-image: url(./assets/drum.png);
    background-position: center;
    background-size: cover;
}

.kit.close {
    top: 55vh;
    left: 35vw;
    height: 8vw;
    width: 8vw;
    background-image: url(./assets/cymbals.png);
    background-position: center;
    background-size: cover;
}

.kit.open {
    top: 45vh;
    left: 28vw;
    height: 8vw;
    width: 8vw;
    background-image: url(./assets/cymbals.png);
    background-position: center;
    background-size: cover;
}

.kit.ride {
    top: 10vh;
    left: 55vw;
    height: 10vw;
    width: 10vw;
    background-image: url(./assets/cymbals.png);
    background-position: center;
    background-size: cover;
  
    

}

.kit.floor{
    background-image: url(./assets/drum.png);
    background-position: center;
    background-size: cover;
    height: 10vw;
    width: 10vw;
    top: 50vh;
    left: 60vw;
}



.active {
    transform: scale(1); 
    background-color: #441321;
    transition: transform 0.1s, background-color 0.1s;
}




/* media queries */
@media (max-width: 1600px) {
    .instructions {
        border: none;
        height: 20vh; 
        width: 13vw;  
        bottom: 63vh; 
        left: 1vw;   
        font-size: 2.5vw; 
    }
    .kit {
        font-size: 2vw;
    }

    .kit.snare {
        height: 12vw;
        width: 12vw;
    }

    .kit.kick1,
    .kit.kick2 {
        height: 14vw;
        width: 14vw;
    }

    .kit.crash1,
    .kit.crash2 {
        height: 13vw;
        width: 13vw;
    }

    .kit.mid-tom,
    .kit.hi-tom,
    .kit.low-tom {
        height: 10vw;
        width: 10vw;
    }

    .kit.close,
    .kit.open {
        height: 8vw;
        width: 8vw;
    }

    .kit.ride {
        height: 9vw;
        width: 9vw;
    }
    .kit.floor {
        height: 13vw; 
        width: 13vw;
        top: 47vh; 
        left: 58vw;
        
    }
}

@media (max-width: 900px) {
    .instructions{
        visibility: hidden;
    }
  

    .kit.snare {
        top: 60vh;
        height: 30vw;
        width: 30vw;
    }

    .kit.kick1{
        top: 65vh;
        height: 30vw;
        width: 30vw;
        left: 12vh;
    }
    .kit.kick2 {
       top: 65vh;
        height: 30vw;
        width: 30vw;
        right: 12vh;
    }

    .kit.crash1{
        top: 13vh;
        left: 9vh;
        height: 25vw;
        width: 25vw;
    }
    .kit.crash2 {
        top: 13vh;
        right: 9vh;
        height: 25vw;
        width: 25vw;
        
    }

    .kit.mid-tom{
        top: 25vh;
        height: 18vw;
        width: 18vw;
    }
    .kit.hi-tom{
        top: 32.5vh;
        left: 26vh;
        height: 18vw;
        width: 18vw;
    }
    .kit.low-tom {
        top: 32.5vh;
        right:26vh;
        height: 18vw;
        width: 18vw;
    }
    .kit.open{
        top: 40vh;
        left:10vh;
        height: 14vw;
        width: 14vw;
    }
    .kit.close {
        top: 50vh;
        left:20vh;
        height: 14vw;
        width: 14vw;
        
    }

    .kit.ride {
        top: 7vh;
        left: 55vh;
        height: 18vw;
        width: 18vw;
    }
    .kit.floor {
        
            height: 20vw; 
            width: 20vw;
            top: 46vh; 
            left: 73vw;
            
        }

}

@media (max-width: 600px) {

    .instructions{
        visibility: hidden;
    }
    .kit {
        font-size: 3vw;
    }

    .kit.snare {
        top: 50vh;
        height: 30vw;
        width: 30vw;
    }

    .kit.kick1{
        top: 57vh;
        height: 30vw;
        width: 30vw;
        left: 7vh;
    }
    .kit.kick2 {
       top: 57vh;
        height: 30vw;
        width: 30vw;
        right: 7vh;
    }

    .kit.crash1{
        top: 23vh;
        left: 3vh;
        height: 25vw;
        width: 25vw;
    }
    .kit.crash2 {
        top: 23vh;
        right: 3vh;
        height: 25vw;
        width: 25vw;
        
    }

    .kit.mid-tom{
        top: 30vh;
        height: 25vw;
        width: 25vw;
    }
    .kit.hi-tom{
        top: 37vh;
        left: 8.5vh;
        height: 20vw;
        width: 20vw;
    }
    .kit.low-tom {
        top: 37vh;
        right: 8.5vh;
        height: 20vw;
        width: 20vw;
    }

    .kit.open{
        top: 43vh;
        left: 2vh;
        height: 14vw;
        width: 14vw;
    }
    .kit.close {
        top: 50vh;
        left: 6vh;
        height: 14vw;
        width: 14vw;
        
    }

    .kit.ride {
        top: 21vh;
        left: 23vh;
        height: 18vw;
        width: 18vw;
    }
    .kit.floor {
        height: 25vw; 
        width: 25vw;
        top: 46vh; 
        left: 66vw; 
     
    }
}

@media (max-width: 430px) {
    .instructions{
        visibility: hidden;
    }
    .kit {
        font-size: 3vw;
    }

    .kit.snare {
        top: 50vh;
        height: 30vw;
        width: 30vw;
    }

    .kit.kick1{
        top: 57vh;
        height: 30vw;
        width: 30vw;
        left: 7vh;
    }
    .kit.kick2 {
       top: 57vh;
        height: 30vw;
        width: 30vw;
        right: 7vh;
    }

    .kit.crash1{
        top: 23vh;
        left: 3vh;
        height: 25vw;
        width: 25vw;
    }
    .kit.crash2 {
        top: 23vh;
        right: 3vh;
        height: 25vw;
        width: 25vw;
        
    }

    .kit.mid-tom{
        top: 30vh;
        height: 25vw;
        width: 25vw;
    }
    .kit.hi-tom{
        top: 37vh;
        left: 8.5vh;
        height: 20vw;
        width: 20vw;
    }
    .kit.low-tom {
        top: 37vh;
        right: 8.5vh;
        height: 20vw;
        width: 20vw;
    }

    .kit.open{
        top: 43vh;
        left: 2vh;
        height: 14vw;
        width: 14vw;
    }
    .kit.close {
        top: 50vh;
        left: 6vh;
        height: 14vw;
        width: 14vw;
        
    }

    .kit.ride {
        top: 21.5vh;
        left: 20vh;
        height: 18vw;
        width: 18vw;
    }
    .kit.floor {
        height: 25vw; 
        width: 25vw;
        top: 45vh;
        
    }
}